# Rename this file to .env in the same location as docker-compose.yml to set
# these values for your local build.

GOOGLE_ANALYTICS_KEY=my-ga-tracking-id
RUNSERVER_PORT=8000
BUNDLE_ANALYZER_PORT=8888

# mongodb (bitnami image)
MONGODB_ROOT_PASSWORD=supersecret
MONGODB_USERNAME=user
MONGODB_PASSWORD=secret
MONGODB_DATABASE=test-db
